@model RezervacijaIndexVM
@{
    ViewData["Title"] = "Index";
}
<a asp-action="Dodaj" asp-area="Klijent" class="btn btn-primary">Dodaj rezervaciju</a>

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-info">
            <h4 class="card-title mt-0"> Rezervacije </h4>
            <p class="card-category"> lista rezervacija</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>Poslovnica</th>
                            <th>Vozilo</th>
                            <th>Datum Preuzimanja</th>
                            <th>Datum Povratka</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model.Rows)
                        {
                        <tr>
                            <th width="15%">@Item.Poslovnica</th>
                            <th width="15%">@Item.Vozilo</th>
                            <th width="15%">@Item.DatumPreuzimanja</th>
                            <th width="15%" >@Item.DatumPovrata</th>

                            <th width="10%">
                                @Enum.GetName(typeof(InfoRezervacija), Item.Zakljucen)
                            </th>
                            
                            <th width="5%">
                                <a class="btn btn-info btn-round btn-just-icon btn-raised" asp-controller="Rezervacija" asp-action="Detalji" asp-area="Klijent" asp-route-id="@Item.RezervacijaID"><i class="material-icons">info</i></a>
                               
                            </th> 
                            <th width="5%">
                                <a class="btn btn-default btn-round btn-just-icon btn-raised" href="#"><i class="material-icons">edit</i></a>
                               
                            </th> 
                            <th width="5%">
                                <a  asp-action="PonistiRezervaciju" asp-area="Klijent"  class="btn btn-rose btn-round btn-just-icon btn-raised" asp-route-id="@Item.RezervacijaID" asp-controller="Rezervacija"><i class="material-icons">delete</i></a>
                               
                            </th>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("rezervacije").className = "active";
</script>