@model PrikoliceDodajVM

@{
    Layout = "_LayoutSite";

}
@Json.Serialize(Model)
<div class="" style="margin-top:100px">
    <div class="profile-content">
        <div class="container" id="PartialView">
            <div class="row">
                <div class="col-md-12 card">
                    <div class="card card-plain">
                        <div class="card-header card-header-info">
                            <h3 class="card-title mt-0"> Prikolice</h3>
                            <button id="C">Click</button>
                        </div>

                    </div>
                    <div class="row">
                       

                        <div class="col-md-12">

                            <form id="forma" asp-action="PrikoliceSpremi" asp-controller="Rezervacija" asp-area="Klijent" class="form">
                                <input asp-for="RezervacijaID" hidden />
                                <input id="selecting" asp-for="Selected" hidden />
                                @for (int i = 0; i < Model.rows.Count; i++)
                                {
                                    <div   class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5> @Enum.GetName(typeof(TipPrikolice), Model.rows[i].TipPrikolice)</h5>
                                            </div>
                                            <div class="col-md-3">
                                                <h5>Duzina: @Model.rows[i].Duzina</h5>
                                            </div>
                                            <div class="col-md-3">
                                                <h5>Sirina: @Model.rows[i].Sirina</h5>

                                            </div>
                                            <div class="col-md-3">
                                                <h5>Zapremina: @Model.rows[i].Zapremina</h5>
                                            </div>
                                            <div class="form-check">

                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="@Model.rows[i].PrikolicaID"> 
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <button type="submit"></button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('input[type=radio][name=exampleRadios]').change(function () {

        x = this.value;
        $("#selecting").val(x);
    });
</script>

