@model RezervacijaDetaljnoVM
@{
    ViewData["Title"] = "Detalji";
    Layout = "_LayoutSite";
}

<style>
    .checked {
        color: orange;
    }
</style>

<div class="col-md-12" style="margin-top:150px">
    <div class="card card-plain">
        <div class="card-header card-header-default">
            <h3 class="card-title mt-0" style="color:grey"> Rezervacija</h3>

            <form asp-action="ZavrsiRezervaciju" asp-area="Klijent" asp-controller="Rezervacija" method="post">

                <button type="submit" style="margin-right:10px" class="btn btn-just-icon btn-round pull-right btn-success btn-raised"><i class="material-icons">save</i> </button>
            </form>
            <form asp-action="Rezervacija" asp-area="Klijent" asp-controller="Rezervacija" method="post">

                <button style="margin-right:10px"  class="btn btn-info pull-right btn-round btn-raised btn-just-icon"><i class="material-icons">edit</i> </button>
            </form>
            <form asp-action="PonistiRezervaciju" asp-area="Klijent" asp-controller="Rezervacija" method="post">

                <button style="margin-right:10px"  class="btn pull-right btn-rose btn-round btn-just-icon btn-raised"><i class="material-icons">delete</i></button>
            </form>

            <h5 class="card-title mt-0 "  style="color:grey">Datum: @Model.DatumRezervacije</h5>
        </div>

    </div>
    <div class="container-fluid">


    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card card-stats">
                <div class="card-header card-header-default card-header-icon">
                    <div class="card-icon">
                        <i style="color:grey" class="material-icons">store</i>
                    </div>
                    <h3 class="card-title" style="text-align:center;color:grey">@Model.Poslovnica</h3>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-default card-header-icon">
                                            <div class="card-icon">
                                                <i style="color:grey" class="material-icons">directions_car</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center;color:grey">@Model.Vozilo</h3>
                                        </div>
                                        <div class="card-body" style="text-align:left">
                                            <img src="@Model.SlikaVozila.URL" width="100%" title="@Model.SlikaVozila.Name" alt="@Model.SlikaVozila.Name" />

                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i> Datum rezervacije: @Model.DatumRezervacije

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-default card-header-icon">
                                            <div class="card-icon">
                                                <i style="color:grey" class="material-icons">info</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center;color:grey">Detalji rezervacije</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">

                                                    <tbody style="text-align:left">
                                                        <tr>
                                                            <th>
                                                                Brend Vozila
                                                            </th>
                                                            <td>
                                                                @Model.Brend
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Vozilo
                                                            </th>
                                                            <td>
                                                                @Model.Vozilo
                                                            </td>

                                                        </tr>
                                                        <tr></tr>
                                                        <tr>
                                                            <th>
                                                                Datum preuzimanja vozila
                                                            </th>
                                                            <td>
                                                                @Model.DatumPreuzimanja
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Datum povrata vozila
                                                            </th>
                                                            <td>
                                                                @Model.DatumPovrata
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Ukupno dana rentanja
                                                            </th>
                                                            <td>
                                                                @Model.BrojDanaIznajmljivanja
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>
                                                                @Enum.GetName(typeof(InfoRezervacija), Model.Zakljucen)
                                                            </th>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-default card-header-icon">
                                            <div class="card-icon">
                                                <i style="color:grey" class="material-icons">attach_money</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center;color:grey">@Model.Cijena KM</h3>
                                        </div>
                                        <div class="card-body" style="text-align:left">
                                            <p>
                                                Rezervisana usluga: @Model.Cijena KM
                                            </p>
                                            <p>
                                                Dodatne usluge: @Model.UkupnaCijenaUsluga KM
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">attach_money</i> Način plaćanja: @Enum.GetName(typeof(NacinPlacanja), Model.NacinPlacanja)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-default card-header-icon">
                                            <div class="card-icon">
                                                <i style="color:grey" class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center;color:gray">Dodatne Usluge</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-primary" style="text-align:left">
                                                        <tr>
                                                            <th>
                                                                Naziv
                                                            </th>
                                                            <th>
                                                                Opis
                                                            </th>
                                                            <th>
                                                                Kolicina
                                                            </th>
                                                            <th>
                                                                Cijena
                                                            </th>
                                                            <th>
                                                                Ukupno
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody style="text-align:left">
                                                        @foreach (var item in Model.dodatneUsluge)
                                                        {
                                                            <tr>
                                                                <th>
                                                                    @item.Naziv
                                                                </th>
                                                                <th>
                                                                    @item.Opis
                                                                </th>
                                                                <th>
                                                                    @item.Kolicina
                                                                </th>
                                                                <th>
                                                                    @item.Cijena
                                                                </th>
                                                                <th>
                                                                    @item.UkupnaCijenaUsluge
                                                                </th>

                                                            </tr>
                                                        }



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                       
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">pin_drop</i> Lokacija: @Model.Grad
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<script>

</script>

