@model RezervacijaIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a asp-action="Dodaj" class="btn btn-primary">Dodaj rezervaciju</a>
<table class="table table-striped">
    <thead>
        <th>
            Vrsta Rezervacije
        </th>
        <th>
            Poslovnica
        </th>
        <th>
            Brend
        </th>
        <th>
            Vozilo
        </th>
        <th>
            Datum Preuzimanja
        </th>
        <th>
            Datum Povratka
        </th>
        <th>
            Zakuljucen
        </th>
    </thead>
    <tbody>
        @foreach (var Item in Model.Rows)
        {
        <tr>
            <td>
                @Item.VrstaRezervacije
            </td>
            <td>
                @Item.Poslovnica
            </td>
            <td>
                @Item.Brend 
            </td>
            <td>
                @Item.Vozilo 
            </td>
            <td>
                @Item.DatumPreuzimanja
            </td>
            <td>
                @Item.DatumPovrata
            </td>

            @if (Item.Zakljucen)
            {
                <td>
                    Završeno
                </td>
            }
            else
            {
                <td>
                    U toku
                </td>
            }

        </tr>
        }
    </tbody>
</table>

