@model PrikolicaDetaljiVM

@{
    ViewData["Title"] = "Detalji";
}


<div class="card card-nav-tabs" style="width: 45rem;">
    <div class="card-header card-header-success">
        Detalji o prikolici
    </div>
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" value="@Model.PrikolicaID" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Sirina" class="control-label">Sirina: </label>
            <input asp-for="Sirina" class="form-control" value="@Model.Sirina" readonly />
            <span asp-validation-for="Sirina" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Zapremina" class="control-label">Zapremina: </label>
            <input asp-for="Zapremina" class="form-control" value="@Model.Zapremina" readonly />
            <span asp-validation-for="Zapremina" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Duzina" class="control-label">Duzina: </label>
            <input asp-for="Duzina" class="form-control" value="@Model.Duzina" readonly />
            <span asp-validation-for="Duzina" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipPrikolice" class="control-label">Tip prikolice: </label>
            <input asp-for="TipPrikolice" class="form-control" value="@Enum.GetName(typeof(TipPrikolice), Model.TipPrikolice)" readonly />
            <span asp-validation-for="TipPrikolice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cijena" class="control-label">Cijena na dan: </label>
            <input asp-for="Cijena" class="form-control" value="@Model.Cijena" readonly />
            <span asp-validation-for="Cijena" class="text-danger"></span>
        </div>
    </div>
</div>
<br />

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-info">
            <h4 class="card-title mt-0"> Vozila </h4>
            <p class="card-category"> lista vozila</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>TipKuke</th>
                            <th>Tezina</th>
                            <th>Vozilo</th>
                            <th>Tip vozila</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.rows)
                        {
                            <tr>
                                <th>@x.TipKuke</th>
                                <th>@x.Tezina</th>
                                <th>@x.Auto</th>
                                <th>@Enum.GetName(typeof(TipVozila), x.tipAuta)</th>
                                <th></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12" id="dodajVozilo">
    <a ajax-poziv="da" ajax-rezultat="dodajVozilo" href="/uposlenik/Prikolica/DodajVozilo?id=@Model.PrikolicaID" class="btn btn-white text-dark"><i class="material-icons">add</i><span style="padding-left: 3px;">DODAJ VOZILO</span></a>
</div>


<div class="col-lg-12" style="margin-top: 10px;">
    <a asp-area="Uposlenik" asp-action="Index" asp-controller="Prikolica"><i class="material-icons">chevron_left</i><span style="padding-left: 3px;">Nazad na listu</span></a>
</div>

<script>
    document.getElementById("prikolice").className = "active";
</script>
