@model PrikolicaVM
@{
    ViewData["Title"] = "Index";
}
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-info">
            <h4 class="card-title mt-0"> Prikolice </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>Sirina</th>
                            <th>Zapremina</th>
                            <th>Duzina</th>
                            <th>Tip prikolice</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.rows)
                        {
                            <tr>
                                <td>@x.Sirina</td>
                                <td>@x.Zapremina</td>
                                <td>@x.Duzina</td>
                                <td>@Enum.GetName(typeof(TipPrikolice), x.TipPrikolice)</td>
                                <td>
                                    <a class="btn btn-white text-dark" asp-area="Uposlenik" asp-controller="Prikolica" asp-action="Detalji" asp-route-id="@x.PrikolicaID"><i class="material-icons">details</i><span style="padding-left: 3px;">DETALJI</span></a>
                                    <a class="btn btn-white text-dark" asp-area="Uposlenik" asp-controller="Prikolica" asp-action="Uredi" asp-route-id="@x.PrikolicaID"><i class="material-icons">edit</i><span style="padding-left: 3px;">UREDI</span></a>
                                    <a class="btn btn-white text-dark" asp-area="Uposlenik" asp-controller="Prikolica" asp-action="Obrisi" asp-route-id="@x.PrikolicaID"><i class="material-icons">delete</i><span style="padding-left: 3px;">OBRISI</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-white text-dark" asp-area="Uposlenik" asp-controller="Prikolica" asp-action="Dodaj"><i class="material-icons">add</i><span style="padding-left: 3px;">DODAJ</span></a>

<script>
    document.getElementById("prikolice").className = "active";
</script>