@model RezervacijaDetaljnoVM
@{
    ViewData["Title"] = "Detalji";
}



<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-info">
            <h3 class="card-title mt-0"> Rezervacija</h3>
            <h5 class="card-title mt-0">Datum: @Model.DatumRezervacije</h5>
            <a class="btn btn-white text-dark" asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="RezervacijaUredi" asp-route-id="@Model.RezervacijaID"><i class="material-icons">edit</i><span style="padding-left: 3px;">UREDI</span></a>


        </div>

    </div>
    <div class="container-fluid">


    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <h3 class="card-title" style="text-align:center">@Model.Poslovnica</h3>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-primary card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">account_circle</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">Klijent</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row text-left">
                                                <div class="col-md-3">
                                                    <h4><strong>Ime:</strong></h4>
                                                    <h4><strong>Prezime:</strong></h4>
                                                    <h4><strong>Datum rodjenja:</strong></h4>
                                                    <h4><strong>Adresa:</strong></h4>
                                                    <h4><strong>Spol:</strong></h4>
                                                    <h4><strong>JMBG:</strong></h4>
                                                </div>
                                                <div class="col-md-3">
                                                    <h4>@Model.Ime</h4>
                                                    <h4>@Model.Prezime</h4>
                                                    <h4>@Model.DatumRodjenja</h4>
                                                    <h4>@Model.Adresa</h4>
                                                    <h4>@Model.Spol</h4>
                                                    <h4>@Model.jmbg</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">directions_car</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">@Model.Vozilo</h3>
                                        </div>
                                        <div class="card-body" style="text-align:left">
                                            <img src="@Model.SlikaVozila.URL" width="100%" title="@Model.SlikaVozila.Name" alt="@Model.SlikaVozila.Name" />

                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i> Datum rezervacije: @Model.DatumRezervacije

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">info</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">Detalji rezervacije</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">

                                                    <tbody style="text-align:left">
                                                        <tr>
                                                            <th>
                                                                Brend Vozila
                                                            </th>
                                                            <td>
                                                                @Model.Brend
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Vozilo
                                                            </th>
                                                            <td>
                                                                @Model.Vozilo
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <th>
                                                                Datum preuzimanja vozila
                                                            </th>
                                                            <td>
                                                                @Model.DatumPreuzimanja
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Datum povrata vozila
                                                            </th>
                                                            <td>
                                                                @Model.DatumPovrata
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Ukupno dana rentanja
                                                            </th>
                                                            <td>
                                                                @Model.BrojDanaIznajmljivanja
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <th>Zakuljcen</th>
                                                            <td>@Enum.GetName(typeof(InfoRezervacija), Model.Zakljucen)</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">attach_money</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">@Model.Ukupno KM</h3>
                                        </div>
                                        <div class="card-body" style="text-align:left">
                                            <p>
                                                Rezervacija vozila ukupno: @Model.Cijena KM
                                            </p>
                                            <p>
                                                Dodatne usluge: @Model.UkupnaCijenaUsluga KM
                                            </p>
                                            @if (Model.Prikolica == true)
                                            {
                                                <p>
                                                    Prikolica: @Model.CijenaPrikolice KM
                                                </p>
                                            }
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">attach_money</i> Način plaćanja: @Enum.GetName(typeof(NacinPlacanja), Model.NacinPlacanja)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-primary card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">Dodatne Usluge</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-primary" style="text-align:left">
                                                        <tr>
                                                            <th>
                                                                Naziv
                                                            </th>
                                                            <th>
                                                                Opis
                                                            </th>
                                                            <th>
                                                                Kolicina
                                                            </th>
                                                            <th>
                                                                Cijena
                                                            </th>
                                                            <th>
                                                                Ukupno
                                                            </th>
                                                        </tr>

                                                    </thead>
                                                    <tbody style="text-align:left">
                                                        @foreach (var item in Model.dodatneUsluge)
                                                        {
                                                            <tr>
                                                                <th>
                                                                    @item.Naziv
                                                                </th>
                                                                <th>
                                                                    @item.Opis
                                                                </th>
                                                                <th>
                                                                    @item.Kolicina
                                                                </th>
                                                                <th>
                                                                    @item.Cijena
                                                                </th>
                                                                <th>
                                                                    @item.UkupnaCijenaUsluge
                                                                </th>

                                                            </tr>
                                                        }



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-primary card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">star</i>
                                            </div>
                                            <h3 class="card-title" style="text-align:center">Ocjena i komentar</h3>
                                        </div>
                                        <div class="card-body" style="text-align:center">
                                            @if (Model.ocjenaRezervacija != null)
                                            {
                                                /**/
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="text-primary" style="text-align:left">
                                                            <tr>
                                                                <th>
                                                                    Komentar
                                                                </th>
                                                                <th>
                                                                    Ocjena
                                                                </th>

                                                            </tr>

                                                        </thead>
                                                        <tbody style="text-align:left">

                                                            <tr>
                                                                <th>
                                                                    @Model.ocjenaRezervacija.Poruka
                                                                </th>
                                                                <th>
                                                                    @Model.ocjenaRezervacija.OcjenaVrijednost
                                                                </th>

                                                            </tr>



                                                        </tbody>
                                                    </table>
                                                </div>
                                            }

                                        </div>
                                        <div class="card-body" style="text-align:center">
                                            @if (Model.ocjenaRezervacija == null)
                                            {
                                                /**/
                                                <button class="btn btn-round btn-outline-primary center-block" data-toggle="modal" data-target="#loginModal">
                                                    <i class="material-icons">add</i>

                                                </button>
                                            }

                                            <div class="modal fade" id="loginModal" tabindex="-1">
                                                <div class="modal-dialog modal-login" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="card">
                                                                <div class="card-header card-header-primary">
                                                                    <h4 class="card-title">Ocjena i komentar</h4>
                                                                </div>

                                                                <div class="card-body">

                                                                    <form asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="DodajOcjenuKomentar" method="post">
                                                                        <div class="row">
                                                                            <div class="col-md-12" style="text-align:center">
                                                                                <button id="btn1" class="btn btn-round">1<div class="ripple-container"></div></button>
                                                                                <button id="btn2" class="btn btn-round">2<div class="ripple-container"></div></button>
                                                                                <button id="btn3" class="btn btn-round">3<div class="ripple-container"></div></button>
                                                                                <button id="btn4" class="btn btn-round">4<div class="ripple-container"></div></button>
                                                                                <button id="btn5" class="btn btn-round">5<div class="ripple-container"></div></button>
                                                                            </div>
                                                                        </div>
                                                                        <br />
                                                                        <input style="visibility:hidden" name="RezervacijaID" asp-for="RezervacijaID" />
                                                                        <input id="Ocjena" style="visibility:hidden" name="Ocjena" type="number" />
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group bmd-form-group is-filled">
                                                                                    <label class="">Komentar</label>
                                                                                    <input name="Poruka" class="form-control" type="text" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" class="btn btn-primary">Add<div class="ripple-container"></div></button>
                                                                        <div class="clearfix"></div>

                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">pin_drop</i> Lokacija: @Model.Grad
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<script>
    $("#btn1").click(function (e) {
        e.preventDefault();
        $("#btn1").addClass("btn-primary");
        $("#btn2").removeClass("btn-primary");
        $("#btn3").removeClass("btn-primary");
        $("#btn4").removeClass("btn-primary");
        $("#btn5").removeClass("btn-primary");
        changeOcjena(1)
         
    }); $("#btn2").click(function (e) {
        e.preventDefault();
        changeOcjena(2)
        $("#btn2").addClass("btn-primary");
        $("#btn1").removeClass("btn-primary");
        $("#btn3").removeClass("btn-primary");
        $("#btn4").removeClass("btn-primary");
        $("#btn5").removeClass("btn-primary");
         
    }); $("#btn3").click(function (e) {
        e.preventDefault();
        changeOcjena(3)
        $("#btn3").addClass("btn-primary");
        $("#btn2").removeClass("btn-primary");
        $("#btn1").removeClass("btn-primary");
        $("#btn4").removeClass("btn-primary");
        $("#btn5").removeClass("btn-primary");
         
    }); $("#btn4").click(function (e) {
        e.preventDefault();
        changeOcjena(4)
        $("#btn4").addClass("btn-primary");
        $("#btn2").removeClass("btn-primary");
        $("#btn3").removeClass("btn-primary");
        $("#btn1").removeClass("btn-primary");
        $("#btn5").removeClass("btn-primary");
         
    }); $("#btn5").click(function (e) {
        e.preventDefault();
        changeOcjena(5)
        $("#btn5").addClass("btn-primary");
        $("#btn2").removeClass("btn-primary");
        $("#btn3").removeClass("btn-primary");
        $("#btn4").removeClass("btn-primary");
        $("#btn1").removeClass("btn-primary");
    });

    function changeOcjena(i) {
        console.log(i);
        $("#Ocjena").val(i);
    }
</script>
<script>
    document.getElementById("rezervacije").className = "active";
</script>