@model RezervacijaIndexVM
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Rezervacije na cekanju </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>Poslovnica</th>
                            <th>Vozilo</th>
                            <th>Datum Preuzimanja</th>
                            <th>Datum Povratka</th>
                            <th>Stanje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model.Rows)
                        {
                        @if(Item.UposlenikID == null){
                        <tr>
                            <th>@Item.Poslovnica</th>
                            <th>@Item.Vozilo</th>
                            <th>@Item.DatumPreuzimanja</th>
                            <th>@Item.DatumPovrata</th>
                            <th>@Enum.GetName(typeof(InfoRezervacija), Item.Zakljucen)</th>
                            <th>
                                <a class="btn btn-white text-dark" asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="Detalji" asp-route-id="@Item.RezervacijaID"><i class="material-icons">details</i><span style="padding-left: 3px;">DETALJI</span></a>
                                <a class="btn btn-white text-dark" asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="Prihvati" asp-route-id="@Item.RezervacijaID"><i class="material-icons">check_circle</i><span style="padding-left: 3px;">PRIHVATI</span></a>
                            </th>

                        </tr>}
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-success">
            <h4 class="card-title mt-0"> Rezervacije </h4>
            <p class="card-category"> lista rezervacija</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>Poslovnica</th>
                            <th>Vozilo</th>
                            <th>Datum Preuzimanja</th>
                            <th>Datum Povratka</th>
                            <th>Stanje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model.Rows)
                        {
                         @if(Item.UposlenikID != null){

                        <tr>
                            <th>@Item.Poslovnica</th>
                            <th>@Item.Vozilo</th>
                            <th>@Item.DatumPreuzimanja</th>
                            <th>@Item.DatumPovrata</th>
                            <th>@Enum.GetName(typeof(InfoRezervacija), Item.Zakljucen)</th>
                            <th>
                                <a class="btn btn-white text-dark" asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="Detalji" asp-route-id="@Item.RezervacijaID"><i class="material-icons">details</i><span style="padding-left: 3px;">DETALJI</span></a>
                                @if(Item.Zakljucen != (int)InfoRezervacija.Zavrsena) {
                                <a class="btn btn-white text-dark" asp-controller="Rezervacija" asp-area="Uposlenik" asp-action="RezervacijaUredi" asp-route-id="@Item.RezervacijaID"><i class="material-icons">edit</i><span style="padding-left: 3px;">UREDI</span></a>
                                }
                            </th>

                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("rezervacije").className = "active";
</script>