@model ProfilDetaljnoVM
@{
    ViewData["Title"] = "Index";
    var n = Model.Notification;
}




<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Uposlenik profil</h4>
                <p class="card-category">Uredi podatke</p>
            </div>
            <div class="card-body">
                <form asp-action="ProfilUrediSnimi" method="post">
                    <div class="form-group"></div>
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Korisnicko ime</label>
                                <input asp-for="Username" class="form-control" data-val-required="Polje Korisnicko ime je obavezno."/>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Email adresa</label>
                                <input asp-for="Email" class="form-control" data-val-required="Polje Email je obavezno." data-val-regex="Format maila: text.text@example.com or text@example.com"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Ime</label>
                                <input asp-for="Ime" class="form-control" data-val-required="Polje Ime je obavezno." data-val-regex="Ime moze da sadrzi samo velika slova, mala slova, razmak i -"/>
                                <span asp-validation-for="Ime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Prezime</label>
                                <input asp-for="Prezime" class="form-control" data-val-required="Polje Prezime je obavezno." data-val-regex="Prezime moze da sadrzi samo velika slova, mala slova, razmak i -"/>
                                <span asp-validation-for="Prezime" class="text-danger"></span>
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Datum rođenja</label>
                                    <input type="date" asp-for="DatumRodjenja" class="form-control" data-val-required="Polje Datum Rođenja je obavezno." />
                                    <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Spol</label>
                                <select class="form-control">
                                    @if (Model.Spol == "M")
                                    {
                                        <option value="M" selected>M</option>
                                    }
                                    else
                                    {
                                        <option value="M">M</option>
                                    }
                                    @if (Model.Spol == "Z")
                                    {
                                        <option value="Z" selected>Z</option>
                                    }
                                    else
                                    {
                                        <option value="Z">Z</option>
                                    }@if (Model.Spol == "Other")
                                    {
                                        <option value="Other" selected>Other</option>
                                    }
                                    else
                                    {
                                        <option value="Other">Other</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Broj telefona</label>
                                <input type="tel" asp-for="BrTelefona" class="form-control" data-val-required="Polje broj telefona je obavezno." data-val-regex="formati: 06x-xxx-xxx ili 06x-xxx-xxxx"/>
                                <span asp-validation-for="BrTelefona" class="text-danger"></span>
                            </div>
                        </div> 
                        <div class="col-md-4" >
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">JMBG</label>
                                <input asp-for="JMBG" class="form-control" data-val-required="Polje JMBG je obavezno." />
                                <span asp-validation-for="JMBG" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Adresa</label>
                                <input asp-for="Adresa" class="form-control" data-val-regex="Primjer: 190 Rock's Cage-cafe"/>
                                <span asp-validation-for="Adresa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="bmd-label-floating">Grad</label>
                                <select asp-for="GradID" asp-items="Model.Gradovi" class="form-control"> </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group bmd-form-group">
                                    <textarea class="form-control" rows="3" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary pull-right">Snimi promjene<div class="ripple-container"></div></button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar" style="text-align:center">

                <a id="Select" style="cursor:pointer">
                    <img id="ProfileImg" class="img" src="@Model.Slika" alt="Profilna Slika" title="Upload new image">
                </a>

            </div>
          

            <div class="card-body">
                <button id="SubmitButton2" style="visibility:hidden"  class="btn btn-primary  btn-round btn-just-icon badge"><i class="material-icons">check</i><div class="ripple-container"></div></button>

                <h6 class="card-category text-gray">@Model.Grad</h6>
                <h4 class="card-title">@Model.Ime @Model.Prezime</h4>
                <h4 class="card-title">@Model.Username</h4>
                <p class="card-description">
                    I've always been asked, 'What is my favorite car?' and I've always said 'The next one.'
                </p>
            </div>
        </div>
    </div>
    <form asp-action="UpdateProfilImage" asp-area="Uposlenik" asp-controller="Profil" method="post" enctype="multipart/form-data">
        <input id="File" type="file" style="visibility: hidden" multiple name="SlikaURL" /><br />
        @Html.AntiForgeryToken()

        <button type="submit" id="SubmitButton1" style="visibility: hidden" class="btn btn-primary pull-right"><div class="ripple-container"></div></button>
    </form>
    <p id="Message" style="visibility:hidden">@Model.Notification</p>
</div>


<script>


    $(document).ready(function () {
        var x = $("#Message").text();
        if (x == "ok") {

            showNotification('top', 'center');
            
        }

    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ProfileImg').attr('src', e.target.result);
                $('#SubmitButton2').css("visibility","visible")
            }

            reader.readAsDataURL(input.files[0]);
        }
    }



    $('#Select').click(function () {
        $('#File').click();
    });
    $('#SubmitButton2').click(function () {
        $('#SubmitButton1').click();
    });
    $('input[type="file"]').change(function (e) {
        readURL(this);

    });
    function showNotification(from, align) {

        $.notify({
            icon: "check",
            message: "Profile image successuful updated!"

        }, {
                type: 'success',
                timer: 4000,
                placement: {
                    from: from,
                    align: align
                }
            });
    }
</script>
<script>
    document.getElementById("profil").className = "active";
</script>