
@if (Model.rows.Count > 0)
{
    @foreach (var item in Model.rows)
    {
        <div class="row">
            <div class="col-md-12 card">
                <div class="row">
                    <div class="col-md-4 card" style="margin:10px;padding:10px; cursor:pointer">
                        <img style="width:100%" src="@item.Slika.URL" />
                    </div>
                    <div class="col-md-7">
                        <h2 style="text-align:center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"> @item.Brend - @item.Naziv </h2>
                        <br />

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-4" style="text-align:center; margin-bottom:5px">
                                        @if (item.Transmisija == (int)Transmisija.Manuelni)
                                        {
                                            <img src="~/images/manual.png" style="width:50px; cursor:pointer" alt="Manuelni" rel="tooltip" title="Manuelni" />
                                        }
                                        @if (item.Transmisija == (int)Transmisija.Automatik)
                                        {
                                            <img src="~/images/automatic.png" style="width:50px; cursor:pointer" alt="Automatik" rel="tooltip" title="Automatik" />
                                        }
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-4" style="text-align:center; margin-bottom:5px">
                                        @if (item.Gorivo == (int)Gorivo.Dizel)
                                        {
                                            <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Dizel" title="Dizel" rel="tooltip" />
                                        }
                                        @if (item.Gorivo == (int)Gorivo.Benzin)
                                        {
                                            <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Benzin" rel="tooltip" title="Benzin" />
                                        }
                                        @if (item.Gorivo == (int)Gorivo.Struja)
                                        {
                                            <img src="~/images/tunder.png" style="width:50px; cursor:pointer" alt="Struja" rel="tooltip" title="Struja" />
                                        }
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-4" style="text-align:center; margin-bottom:5px">
                                        @if (item.TipVozila == (int)TipVozila.Normal)
                                        {
                                            <img src="~/images/car.png" style="width:50px; cursor:pointer" alt="Normal" title="Normal" rel="tooltip" />
                                        }
                                        @if (item.TipVozila == (int)TipVozila.Hibrid)
                                        {
                                            <img src="~/images/GvH.jpg" style="width:50px; cursor:pointer" alt="Hibrid" rel="tooltip" title="Hibrid" />
                                        }
                                        @if (item.TipVozila == (int)TipVozila.Elektricno)
                                        {
                                            <img src="~/images/electric.png" style="width:50px; cursor:pointer" alt="Elektricno" rel="tooltip" title="Elektricno" />
                                        }
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-12" style="text-align:center">
                                           
                                        <form asp-area="Klijent" asp-controller="Rezervacija" asp-action="Dodaj" method="post">

                                        <input value="@item.VoziloID" name="vozilo" style="visibility:hidden"/>
                                        <button type="submit" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="btn btn-rose btn-raised  btn-round ">Rezervisi</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="text-align:center;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@item.PoslovnicaNaziv - @item.PoslovnicaLokacija</h3>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12 " style="text-align:center">
            <img src="~/images/bear.gif" style="margin-top:30px;margin-bottom:25px" />
            <h1 style="font-weight:bold;color:lightgray;margin-bottom:50px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Sorry no cars here in @Model.GradSearch right now!</h1>
        </div>

    </div>
}

<script>
   
</script>