@model RentACar.Models.Vozilo

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vozilo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrojSasije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojSasije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistarskaOznaka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistarskaOznaka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GodinaProizvodnje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SnagaMotora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SnagaMotora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumMijenjanjUlja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumMijenjanjUlja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Domet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrojMjesta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojMjesta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrojVrata)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojVrata)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZapreminaPrtljaznika)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZapreminaPrtljaznika)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZapreminaPrtljaznikaNaprijed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZapreminaPrtljaznikaNaprijed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brend)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brend.BrendID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipVozila)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipVozila)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DodatniOpis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DodatniOpis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gorivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gorivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pogon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pogon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transmisija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transmisija)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrupniTipVozila)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupniTipVozila)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VoziloID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
