

<div class="page-header header-filter purple-filter" data-parallax="true" style="background-image: url('https://www.gannett-cdn.com/-mm-/b81b778fcde932aea0df8f5ee3982564b7632cba/c=0-110-500-391/local/-/media/2018/06/14/USATODAY/usatsports/car-lot-square-e1461855298700.jpg'); transform: translate3d(0px, 100px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Sunny Cars</h1>
                    <h3>Pick one you will not regret!</h3>
                    <form  autocomplete="on"  asp-action="Index2" asp-controller="Vozilo" method="get">
                        <div class=" form-group bmd-form-group is-filled">
                            <input  autocomplete="on" placeholder="Which City..." type="text" name="grad" style="color:white;text-align:center;font-size:25px;" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            @foreach (var item in Model.rows)
            {
                <div class="row">
                    <div class="col-md-12 card">
                        <div class="row">
                            <div class="col-md-4 card" style="margin:10px;padding:10px; cursor:pointer">
                                <img style="width:100%" src="@item.Slika.URL"/>
                            </div>
                            <div class="col-md-7">
                                <h2 style="text-align:center"> @item.Brend - @item.Naziv </h2>
                                <br />

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                @if (item.Transmisija == "1")
                                                {
                                                    <img src="~/images/manual.png" style="width:50px"; cursor:pointer" alt="Manuelni" rel="tooltip" title="Manuelni" />
                                                }
                                                @if (item.Transmisija == "2")
                                                {
                                                    <img src="~/images/automatic.png" style="width:50px"; cursor:pointer" alt="Automatik" rel="tooltip" title="Automatik" />
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                @if (item.Gorivo == "1")
                                                {
                                                    <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Dizel" title="Dizel" rel="tooltip" />
                                                }
                                                @if (item.Gorivo == "2")
                                                {
                                                    <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Benzin" rel="tooltip" title="Benzin" />
                                                }
                                                @if (item.Gorivo == "3")
                                                {
                                                    <img src="~/images/tunder.png" style="width:50px; cursor:pointer" alt="Struja" rel="tooltip" title="Struja" />
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                @if (item.TipVozila == "1")
                                                {
                                                    <img src="~/images/car.png" style="width:50px; cursor:pointer" alt="Normal" title="Normal" rel="tooltip" />
                                                }
                                                @if (item.TipVozila == "2")
                                                {
                                                    <img src="~/images/GvH.jpg" style="width:50px; cursor:pointer" alt="Hibrid" rel="tooltip" title="Hibrid" />
                                                }
                                                @if (item.TipVozila == "3")
                                                {
                                                    <img src="~/images/electric.png" style="width:50px; cursor:pointer" alt="Elektricno" rel="tooltip" title="Elektricno" />
                                                }
                                            </div> 
                                            <div class="col-md-3 col-sm-3" >
                                                <button class="btn btn-rose btn-raised btn-round ">Rezervisi</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 style="text-align:center">@item.PoslovnicaNaziv - @item.PoslovnicaLokacija</h3>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            }
           
        </div>
    </div>
</div>

