@model RentACar.ViewModels.VoziloVM
@{
    ViewData["Title"] = "Index";
}
<button class="btn btn-success">Slobodna</button>
<button class="btn btn-danger">Rezervisana</button>

<h3>Vozila</h3>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Brend</th>
            <th>Naziv</th>
            <th>Model</th>
            <th>Broj vrata</th>
            <th>Tip vozila</th>
            <th>Transmisija</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <th>@x.Brend</th>
                <th>@x.Naziv</th>
                <th>@x.Model</th>
                <th>@x.BrojVrata</th>
                <th>@x.TipVozila</th>
                <th>@x.Transmisija</th>

                <th>
                    <a class="btn btn-success" asp-controller="Vozilo" asp-action="Detalji" asp-route-id="@x.VoziloID">Detalji</a>
                    <a class="btn btn-success" href="#">Uredi</a>
                </th>
            </tr>
        }
    </tbody>
</table>
