@model VoziloDetaljnoVM
@{
    ViewData["Title"] = "Detalji";
}
<head>
    <!-- Slideshow css and js -->
    <link href="~/css/slideshow.css" rel="stylesheet" />

</head>

<!-- Slideshow container -->

<div class="slideshow-container">
    @foreach (var x in Model.Slike)
    {
        <div class="mySlides fade_sl">
            <img src="@x" alt="image place" width="500" height="350" />
        </div>
    }

    <!-- Next and previous buttons -->
    <a class="prev_p" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next_p" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<div class="container col-lg-6">
    <!--Prvi red-->
    <div class="card card-nav-tabs" style="width: 30rem;">
        <div class="card-header card-header-info">
            Osnovne informacije
        </div>
        <div class="card-body">
            <div class="row text-left">
                <div class="col-md-5">
                    <h4><strong>Brend:</strong></h4>
                    <h4><strong>Model:</strong></h4>
                    <h4><strong>Godina proizvodnje:</strong></h4>
                    <h4><strong>Snaga:</strong></h4>
                    <h4><strong>Klima:</strong></h4>
                    <h4><strong>Broj mjesta:</strong></h4>
                    <h4><strong>Broj vrata:</strong></h4>
                    <h4><strong>Boja:</strong></h4>
                    <h4><strong>Transmisija:</strong></h4>
                    <h4><strong>Gorivo:</strong></h4>
                    <h4><strong>Tip vozila:</strong></h4>
                    <h4><strong>Kuka za prikolicu:</strong></h4>
                </div>
                <div class="col-md-4">
                    <h4>@Model.Brend</h4>
                    <h4>@Model.Model</h4>
                    <h4>@Model.GodinaProizvodnje</h4>
                    <h4>@Model.SnagaMotora KS</h4>
                    @if (Model.Klima == true)
                    {
                        <h4>DA</h4>
                    }
                    else
                    {
                        <h4>NE</h4>
                    }
                    <h4>@Model.BrojMjesta</h4>
                    <h4>@Model.BrojVrata</h4>
                    <h4>@Model.Boja</h4>
                    <h4>@Enum.GetName(typeof(Transmisija), Model.Transmisija)</h4>
                    <h4>@Enum.GetName(typeof(Gorivo), Model.Gorivo)</h4>
                    <h4>@Enum.GetName(typeof(TipVozila), Model.TipVozila)</h4>
                    @if (Model.Kuka == true)
                    {
                        <h4>IMA</h4>
                    }
                    else
                    {
                        <h4>NEMA</h4>
                    }
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success pull-right" asp-area="Uposlenik" asp-controller="Rezervacija" asp-action="Rezervisi" asp-route-id="@Model.VoziloID"><i class="material-icons">send</i><span style="padding-left: 3px;">REZERVISI</span></a>

                </div>
            </div>
        </div>  
    </div>
</div>

<div class="card card-nav-tabs col-lg-12">
    <div class="card-header card-header-success">
        <div class="row">
            <div class="col-md-6">
                <h3 class="h3">Cijena na dan: @Model.Cijena KM</h3>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<div class="card card-nav-tabs" style="width: 64rem;">
    <div class="card-header card-header-info">
        Detaljne informacije
    </div>

    <div class="card-body">
        <div class="row text-left">
            <div class="col-md-5">
                <h4><strong>Pogon:</strong></h4>
                <h4><strong>Domet:</strong></h4>
                <h4><strong>Zapremina prtljaznika:</strong></h4>
                @if (Model.ZapreminaPrtljaznikaNaprijed != 0)
                {
                    <h4><strong>Zapremina prtljaznika naprijed:</strong></h4>
                }
                <h4><strong>Datum mijenjanja ulja:</strong></h4>
                <h4><strong>Kilometraza:</strong></h4>
                <h4><strong>Registarska oznaka:</strong></h4>
                <h4><strong>Broj sasije:</strong></h4>
                <h4><strong>Dodatni opis:</strong></h4>
            </div>
            <div class="col-md-4">
                <h4>@Model.Pogon</h4>
                <h4>@Model.Domet km</h4>
                <h4>@Model.ZapreminaPrtljaznika cm^3</h4>
                @if (Model.ZapreminaPrtljaznikaNaprijed != 0)
                {
                    <h4>@Model.ZapreminaPrtljaznikaNaprijed cm^3</h4>
                }
                <h4>@Model.DatumMijenjanjUlja</h4>
                <h4>@Model.Kilometraza km</h4>
                <h4>@Model.RegistarskaOznaka</h4>
                <h4>@Model.BrojSasije</h4>
                <h4>@Model.DodatniOpis</h4>
            </div>
        </div>
    </div>
</div>
 
    <br />
@if (Model.Kuka == true)
{
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-info">
                <h4 class="card-title mt-0"> Prikolice </h4>
                <p class="card-category"> lista prikolica za vozilo</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>Sirina</th>
                                <th>Duzina</th>
                                <th>Tip prikolice</th>
                                <th>Tip kuke</th>
                                <th>Tezina (max)</th>
                                <th>Cijena</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.prikolice)
                            {
                            <tr>
                                <th>@x.Sirina cm</th>
                                <th>@x.Duzina cm</th>
                                <th>@Enum.GetName(typeof(TipPrikolice), x.TipPrikolice)</th>
                                <th>@x.TipKuke</th>
                                <th>@x.Tezina kg</th>
                                <th>@x.Cijena KM</th>
                                <th>
                                    <a class="btn btn-danger" href="/Uposlenik/Vozilo/UkloniPrikolicu?PrikolicaID=@x.PrikolicaID&VoziloID=@Model.VoziloID">
                                        <i class="material-icons">delete_forever</i><span style="padding-left: 3px;">UKLONI</span>
                                    </a>
                                </th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        document.getElementById("vozila").className = "active";
    </script>

    <script src="~/js/slideshow.js"></script>
