@model VoziloDetaljnoVM
@{
    ViewData["Title"] = "Detalji";
}
<head>
    <!-- Slideshow css and js -->
    <link href="~/css/slideshow.css" rel="stylesheet" />

</head>

<!-- Slideshow container -->

<div class="slideshow-container">
    @foreach (var x in Model.Slike)
    {
        <div class="mySlides fade_sl">
            <img src="@x" alt="image place" width="500" height="350" />
        </div>
    }

    <!-- Next and previous buttons -->
    <a class="prev_p" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next_p" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<div class="container col-lg-6">
    <!--Prvi red-->
    <div class="card card-nav-tabs" style="width: 30rem;">
        <div class="card-header card-header-success">
            Osnovne informacije
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Brend: <p class="text-center osnovne-style-info"><strong>@Model.Brend</strong></p></li>
            <li class="list-group-item">Model: <p class="text-center osnovne-style-info"><strong>@Model.Model</strong></p></li>
            <li class="list-group-item">Godina proizvodnje: <p class="text-center osnovne-style-info"><strong>@Model.GodinaProizvodnje</strong></p> </li>
            <li class="list-group-item">Tip vozila: <p class="text-center osnovne-style-info"><strong>@Enum.GetName(typeof(GrupniTipVozila), Model.GrupniTipVozila)</strong></p> </li>
            <li class="list-group-item">Snaga motora: <p class="text-center osnovne-style-info"><strong>@Model.SnagaMotora</strong></p> </li>
            <li class="list-group-item">
                <span class="desno">
                    Klima:
                    @if (Model.Klima == true)
                    {<strong>DA</strong> }
                    else
                    { <strong>NE</strong>}
                </span>
                <span class="desno">Broj mjesta: <strong>@Model.BrojMjesta</strong></span><span class="desno">Broj vrata: <strong>@Model.BrojVrata</strong></span>Boja: <strong>@Model.Boja</strong>
            </li>




            <li class="list-group-item">
                <span style="margin-right: 15px;">
                    @if (Model.Transmisija == (int)Transmisija.Manuelni)
                    {
                        <img src="~/images/manual.png" style="width:50px" ; cursor:pointer" alt="Manuelni" rel="tooltip" title="Manuelni" />
                    }
                    @if (Model.Transmisija == (int)Transmisija.Automatik)
                    {
                        <img src="~/images/automatic.png" style="width:50px" ; cursor:pointer" alt="Automatik" rel="tooltip" title="Automatik" />
                    }
                </span>
                <span style="margin-right: 20px;">
                    @if (Model.Gorivo == (int)Gorivo.Dizel)
                    {
                        <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Dizel" title="Dizel" rel="tooltip" />
                    }
                    @if (Model.Gorivo == (int)Gorivo.Benzin)
                    {
                        <img src="~/images/fuel.jpg" style="width:50px; cursor:pointer" alt="Benzin" rel="tooltip" title="Benzin" />
                    }
                    @if (Model.Gorivo == (int)Gorivo.Struja)
                    {
                        <img src="~/images/tunder.png" style="width:50px; cursor:pointer" alt="Struja" rel="tooltip" title="Struja" />
                    }
                </span>
                <span style="margin-right: 15px;">
                    @if (Model.TipVozila == (int)TipVozila.Normal)
                    {
                        <img src="~/images/car.png" style="width:50px; cursor:pointer" alt="Normal" title="Normal" rel="tooltip" />
                    }
                    @if (Model.TipVozila == (int)TipVozila.Hibrid)
                    {
                        <img src="~/images/GvH.jpg" style="width:50px; cursor:pointer" alt="Hibrid" rel="tooltip" title="Hibrid" />
                    }
                    @if (Model.TipVozila == (int)TipVozila.Elektricno)
                    {
                        <img src="~/images/electric.png" style="width:50px; cursor:pointer" alt="Elektricno" rel="tooltip" title="Elektricno" />
                    }
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="card card-nav-tabs col-lg-12">
    <div class="card-header card-header-info">
        <h3 class="h3">Cijena na dan: @Model.Cijena KM</h3>
    </div>
    </div>

    <div class="card card-nav-tabs" style="width: 64rem;">
        <div class="card-header card-header-info">
            Detaljne informacije
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Pogon:</strong> <input type="text" class="form-control" value="@Model.Pogon" readonly /></li>
            <li class="list-group-item"><strong>Domet:</strong> <input type="text" class="form-control" value="@Model.Domet" readonly /></li>
            <li class="list-group-item"><strong>Zpremina prtljaznika:</strong> <input type="text" class="form-control" value="@Model.ZapreminaPrtljaznika" readonly /></li>
            @if (Model.ZapreminaPrtljaznikaNaprijed != 0)
            {
                <li class="list-group-item"><strong>Zpremina prtljaznika naprijed:</strong> <input type="text" class="form-control" value="@Model.ZapreminaPrtljaznikaNaprijed" readonly /></li>
            }
            <li class="list-group-item"><strong>Datum mijenjanja ulja: </strong> <input type="text" class="form-control" value="@Model.DatumMijenjanjUlja" readonly /></li>
            <li class="list-group-item"><strong>Kilometraza: </strong> <input type="text" class="form-control" value="@Model.Kilometraza" readonly /></li>
            <li class="list-group-item"><strong>Registarska oznaka:</strong> <input type="text" class="form-control" value="@Model.RegistarskaOznaka" readonly /></li>
            <li class="list-group-item"><strong>Broj sasije:</strong><input type="text" class="form-control" value="@Model.BrojSasije" readonly /></li>
            <li class="list-group-item"><strong>Dodatni opis:</strong> <input type="text" class="form-control" value="@Model.DodatniOpis" readonly /></li>
        </ul>
    </div>
    <div>
        <a class="btn btn-success" asp-area="Uposlenik" asp-controller="Rezervacija" asp-action="Rezervisi" asp-route-id="@Model.VoziloID">Rezervisi</a>
        <button class="btn btn-success">Uredi</button>
    </div>
    <br />

    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-info">
                <h4 class="card-title mt-0"> Prikolice </h4>
                <p class="card-category"> lista prikolica za vozilo</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>Sirina</th>
                                <th>Zapremina</th>
                                <th>Duzina</th>
                                <th>Tip prikolice</th>
                                <th>Tip kuke</th>
                                <th>Tezina</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.prikolice)
                            {
                                <tr>
                                    <th>@x.Sirina</th>
                                    <th>@x.Zapremina</th>
                                    <th>@x.Duzina</th>
                                    <th>@x.TipPrikolice</th>
                                    <th>@x.TipKuke</th>
                                    <th>@x.Tezina</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("vozila").className = "active";
    </script>

    <script src="~/js/slideshow.js"></script>
