@model VoziloVM
@{
    ViewData["Title"] = "Index";
}
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-info">
            <h4 class="card-title mt-0"> Vozila </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>Brend</th>
                            <th>Naziv</th>
                            <th>Model</th>
                            <th>Broj vrata</th>
                            <th>Tip vozila</th>
                            <th>Transmisija</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.rows)
                        {
                            <tr>
                                <td>@x.Brend</td>
                                <td>@x.Naziv</td>
                                <td>@x.Model</td>
                                <td>@x.BrojVrata</td>
                                <td>@Enum.GetName(typeof(TipVozila), x.TipVozila)</td>
                                <td>@Enum.GetName(typeof(Transmisija), x.Transmisija)</td>

                                <td>
                                    <a class="btn btn-white text-dark" asp-area="Uposlenik" asp-controller="Vozilo" asp-action="Detalji" asp-route-id="@x.VoziloID"><i class="material-icons" >details</i><span style="padding-left: 3px;">DETALJI</span></a>
                                    <a class="btn btn-white text-dark" href="#"><i class="material-icons">edit</i><span style="padding-left: 3px;">UREDI</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("vozila").className = "active";
</script>